<div class="container my-4">
  <div class="row justify-content-md-center">
    <div class="col">

      <h2 class="text-center text-success">Subscribe your tag</h2>
      
      <%- include('form-subscribe-user.ejs')  %>

      <!-- Show subscribed tag info -->
      <% if (typeof userSubscribed !== 'undefined') { %> 

        <div class="container text-center">
          <h5 class="text-success">Hi <span><%= userSubscribed.name %></span>!</h5>
          <p>Your tag <span class="text-white"><%= userSubscribed.tag %></span> has been subscribed successfully.</p>
          <p>
            Until now you have played <span class="text-white"><%= userSubscribed.battleCount %></span> battles and 
            this is your minimum time spent playing Clash Royale:
          </p>
          <h6 class="text-white"><%= userSubscribed.totalTime %></h6>
          <p>Great! From tomorrow you can start keeping track of your time on battles!</p>
        </div>
      
      <!-- Show error as: Already subscribed -->
      <% } else if (typeof errorMessage !== 'undefined') { %>
        
        <p class="text-center text-warning"><%= errorMessage %></p>
      
      <!-- Show about subscription -->
      <% } else { %>
      
        <p>
          <strong>Don't know your Player Tag?</strong> Open <em>Clash Royale</em> and you can find your unique Player Tag by tapping on your name in your home base. 
          On Player Profile, it will be under your name, starts with a '#'.
        </p>
        <p>When your tag is subscribed, this service will save every day at 23:59 (UTC time) the number of battles you play daily.</p>
        
      <% } %>

    </div>
  </div>
</div>




