<div class="card text-white bg-primary mb-3">
  <div class="card-header"><%= userInfo.tag %></div>
  <div class="card-body">
    <h4 class="card-title"><%= userInfo.name %></h4>
    <p class="card-text">Total Battles: <%= userInfo.totalBattles %></p>
    <p class="card-text">Total Time: <%= userInfo.totalTime %></p>
  </div>
  <div class="card-footer text-muted">
    Susbcribed since <%= userInfo.subscribed %>
  </div>
</div>

<table class="table">
  <thead>
    <th scope="col">Date</th>
    <th scope="col">Battles</th>
    <th scope="col">Time</th>
  </thead>
  <tbody>
    <% for(const battle of userBattles) {%>
      <tr>
        <td><%= battle.date %></td>
        <td><%= battle.battlesQty %></td>
        <td> <%= battle.time %></td>
      </tr>
    <% } %>
  </tbody>
</table>
